@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'Star Jedi';
    src: url('/fonts/stjedise/STJEDISE.TTF') format('truetype');
    font-style: normal;
    font-weight: 700;
  }
  @font-face {
    font-family: 'Star Jedi Hollow';
    src: url('/fonts/StarJediHollow-A4lL.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
  }
  @font-face {
    font-family: 'Star Jedi Rounded';
    src: url('/fonts/StarJediRounded-jW3R.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
  }
}


@layer utilities {

    @keyframes gradientChange {
        0% {
            background-position: 0%
        }

        50% {
            background-position: 100%
        }

        100% {
            background-position: 0%
        }
    }

    .gradient {
        background: linear-gradient(90deg, blue, red);
        background-size: 200% 200%;
    }

    .element-to-rotate {
        animation: gradientChange 4s ease infinite;
    }

}
